@font-face {
	font-family: 'TerminatorGenisys'; 
	src: url(../../res/fonts/TerminatorGenisys.ttf); 
}
@font-face {
	font-family: 'NightmareMaker';
	src: url(../../res/fonts/NightmareMaker.ttf);
}
@font-face {
	font-family: 'Dorblue'; 
	src: url(../../res/fonts/Dorblue.ttf); 
}
@font-face {
	font-family: 'Mulishs'; 
	src: url(../../res/fonts/Mulish-VariableFont_wght.ttf); 
}

html, body { 
	height: 100%;
	width: 100%;
	position: static;
	overflow-x:hidden; 
	overflow-y:hidden;
}

body {
    background: linear-gradient(45deg, #1F6521, #53900F, #A4A71E, #D6CE15);
    background-size: 200% 200%;
    animation: gradient 20s ease infinite;
	top: 0px;
    left: 0px;
    position: relative;
    margin: 0px;
	
	font-family: 'Mulish'; 
}

#main{
	display: flex;
    height: 65%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icon{
	height:20px;
}

#qr{
	height: 100%;
	border: 0;
}

#footer{
	background:#606c4952;
	height:20%;
	font-family: 'Mulish'; 
}

#header{
	height: 15%;
    display: flex;
    justify-content: space-between;
	font-family: 'Mulish';
    padding: 0% 1% 0% 1%;	
}

#name{
	font-family: 'Dorblue'; 
	-webkit-background-clip: text;
    -webkit-text-fill-color: #333e0b;
    font-size: 3.5em;
    z-index: -1;
	text-shadow: 0.1em 0.1em 0.2em #131a068c;
	margin:0;
}

#mainpage{
	height:100%;
	width:100%;
}

#errorpage{
	margin-left: auto;
    margin-right: auto;
    display: none;
    justify-content: center;
    align-items: center;
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:rgba(55,55,55,0.3);
}

#menu{
	height: 250px;
    width: 200px;
    background: #333e0b;
    position: absolute;
    display: none;
    margin-top: -255px;
    border: #fff solid 2px;
    border-radius: 5px;
}

#id-name{
	font-family: 'NightmareMaker'; 
	-webkit-background-clip: text;
    -webkit-text-fill-color: rgba(51,62,11,0);
    font-size: 2em;
    z-index: -1;
	text-shadow: 0.1em 0.1em 0.2em rgba(19,26,6,0);
	margin:0;
	right:1%;
	padding-top: 8px;
}

#in{
	display: contents;
	font-family: 'Mulish'; 
	display: inline-flex;
    width: 80%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    align-content: center;
	margin-bottom: 1%;
}

#inFiles{
	opacity: 0;
	position: absolute;
	z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#file-url{
	color: lightskyblue;
	font-family: 'Mulish'; 
}

#file-url:hover{
	text-decoration:underline lightskyblue;
}

.icon-button{
	padding-top: 0.4%;
	background: #00000054;
    min-height: 25px;
    border-radius: 3px;
    top: 26%;
    left: 6%;
    font-size: 0.9em;
    color: #ffffffde;
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    border: 0;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 30%);
	font-family: 'Mulish';
}

.icon-button:hover{
	background: #3b441a;
	color: white;
}

#messages-content
{
    position: relative;
    width: 75%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
	font-family: 'Mulish'; 
}

#messages
{
	display: flex;
    flex-direction: column-reverse;
	font-family: 'Mulish'; 
    overflow-y: auto;
	height: 100%;
}

#messages-container
{
	max-height: 100%;
    min-height: 30px;
	font-family: 'Mulish'; 
    overflow: auto;
	padding: 1%;
}

#messages-container::-webkit-scrollbar {
  width: 0;
}

#inText {
	width: 90%;
    min-height: 17px;
    border-bottom: 2px solid #d2d2d2;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: #131a068c 0.1em 0.1em 0.2em;
    background: #333e0b;
    padding: 1px;
    color: #d2d2d2;
	background-color: #333e0bb8;
	font-family: 'Mulish'; 
}

#inText:after {
	animation: blink 1s linear infinite alternate;
}

.message
{
	margin: 5px;
    min-height: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: flex-end;
    border: 2px solid #d2d2d2;
    background-color: #333e0bfc;
    position: relative;
    overflow: hidden;
    padding: 5px;
	color: #d2d2d2;
}

.message-text
{
	width:100%;
	text-align:left;
	word-break: break-all;
	font-family: 'Mulish'; 
}

.message-time
{
	font-size:0.5em;
	width:100%;
	text-align:right;
	font-family: 'Mulish';
}

#theerror{
	background: #b1c755;
    width: 70%;
    color: #121212;
    text-align: center;
	border-radius: 10px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}