@font-face {
	font-family: 'TerminatorGenisys'; 
	src: url(../../res/fonts/TerminatorGenisys.ttf); 
}
@font-face {
	font-family: 'NightmareMaker';
	src: url(../../res/fonts/NightmareMaker.ttf);
}
@font-face {
	font-family: 'Dorblue'; 
	src: url(../../res/fonts/Dorblue.ttf); 
}
@font-face {
	font-family: 'Mulishs'; 
	src: url(../../res/fonts/Mulish-VariableFont_wght.ttf); 
}

:root {
	--dark-color: 19, 26, 6;
	--main-color: 51, 62, 11;
	--pre-bg: 95, 105, 85;
	--text: 210, 210, 210;
	--text-hover: 255, 255, 255;
	--url-color: 135, 206, 250;
	--very-dark: 0, 0, 0;
	--menu-color: 177, 199, 85;
    --bg-1: #1F6521;
	--bg-2: #53900F;
	--bg-3: #A4A71E;
	--bg-4: #D6CE15;
	--close-color: #ff0000a3;
}

html, body {
	height: 100%;
	width: 100%;
	position: static;
	overflow-x:hidden;
	overflow-y:hidden;
	display: block;
	flex-direction: column;
}

body {
    background: linear-gradient(45deg, var(--bg-1), var(--bg-2), var(--bg-3), var(--bg-4));
    background-size: 200% 200%;
    animation: gradient 20s ease infinite;
	top: 0px;
    left: 0px;
    position: relative;
    margin: 0px;
	
	font-family: 'Mulish'; 
}

#main{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
	overflow: auto;
}

.icon{
	height:20px;
}

#qr{
	height: 128px;
    width: 128px;
    border: 0;
    left: 1%;
    position: absolute;
}

.close-menu {
	width: 400px;
    max-width: 50vw;
    min-width: 200px;
    display: flex;
    flex-direction: row-reverse;
}

#password-menu .menu{
	display: flex;
    flex-direction: column;
    align-items: center;
}

#footer{
	background: rgba(var(--pre-bg), 0.3);
    padding: 1% 0px;
    font-family: 'Mulish';
    text-align: center;
    min-height: 128px;
}

#footer-line{
	height: 90%;
    width: 100%;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#footer .row{
	margin: 1% 0%;
	padding: 0.6% 0%;
	color: rgb(var(--text));
	font-size: 0.8em;
	min-width: 100px;
	text-align: center;
}

#footer .row a{
	text-decoration: none;
	color: rgb(var(--text));
	transition: 0.5s;
}

#footer .row a:hover{
	color: rgb(var(--text-hover));
}

#footer .row ul{
    padding-inline-start: 0;
	width: 100%;
}

#footer .row ul li{
	display: inline-block;
	margin: 0px 30px;
}

#footer .row a i{
	font-size: 2em;
	margin: 0% 1%;
}

@media (max-width:720px){
	#footer-line{
		text-align: center;
		overflow: overlay;
	}
	#footer-line .row ul li{
		display:block;
		text-align:right;
	}
	#footer-line .row a i{
		margin:0% 3%;
	}
}

@media (max-height:128px){
	#qr {
		display: none;
	}
}

@media (max-height:220px) {
	section.menu-cover {
	    overflow: auto;
		justify-content: flex-start;
	}
}

@media (max-width:220px) {
	section.menu-cover {
	    overflow: auto;
		align-items: flex-start;
	}
}

@media (max-width:333px) {
	#qr {
		display: none;
	}
	#footer-text .row {
		margin: 0;
	}
	#footer-text .row ul li {
		text-align: left;
	}
}

#header{
	height: 15%;
	display: flex;
	justify-content: space-between;
	font-family: 'Mulish';
	padding: 0% 1% 0% 1%;
	justify-content: space-between;
}

#name{
	font-family: 'Dorblue';
	background-clip: text;
	-webkit-background-clip: text;
    font-size: 3.5em;
	text-shadow: 0.1em 0.1em 0.2em rgba(var(--dark-color), 0.55);
	margin:0;
}

#name a{
	-webkit-text-fill-color: rgb(var(--main-color));
    text-decoration: none;
}

#mainpage{
	height: 85%;
	width:100%;
	display: none;
	display: flex;
	flex-direction: column-reverse;
}

#errorpage{
	margin-left: auto;
	margin-right: auto;
	display: none;
	justify-content: center;
	align-items: center;
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background: rgba(var(--pre-bg), 0.3);
}

.menu{
	width: 400px;
	max-width: 50vw;
	min-width: 200px;
	background: rgb(var(--main-color));
	border: rgb(var(--text-hover)) solid 2px;
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
}

.menu-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(var(--pre-bg), 0.54);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    flex-direction: column;
}

#password{
	width: 90%;
    min-height: 17px;
    border-bottom: 2px solid rgb(var(--text));
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: rgba(var(--dark-color), 0.55) 0.1em 0.1em 0.2em;
    background: rgb(var(--main-color));
    padding: 1px;
    color: rgb(var(--text));
    background-color: rgba(var(--main-color), 0.72);
    font-family: 'Mulish';
    margin: 5px;
	max-height: 150px;
}

#check-password{
    margin: 5px;
    padding-top: 0.4%;
    background: rgba(var(--very-dark), 0.44);
    min-height: 25px;
    border-radius: 3px;
    top: 26%;
    left: 6%;
    font-size: 0.9em;
    color: rgb(var(--text-hover));
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    border: 0;
    box-shadow: inset 0 -1px 0 rgba(var(--very-dark), 0.3);
    font-family: 'Mulish';
}

.settings-contentable{
	min-height: 17px;
	width: 100%;
	margin: 2.5px;
	color: rgb(var(--text));
	border-bottom: 2px solid rgb(var(--text));
	max-height: 20px;
	margin-bottom: 10px;
    margin-top: 15px;
}

#set-password:empty:before {
    content: 'Введите новый пароль';
}

#set-tag:empty:before {
    content: 'Введите новый тэг';
}

#search-tag:empty:before {
    content: 'Поиск по тэгу';
}

.menu-button{
	margin: 2.5px;
	width: 97%;
	background: rgba(var(--text), 0.2);
	min-height: 25px;
	border-radius: 3px;
	top: 26%;
	left: 6%;
	font-size: 0.9em;
	color: rgb(var(--text));
	font-weight: 500;
	transform-origin: 0 0;
	transform: translate3d(0, 0, 0);
	transition: all 0.2s ease;
	border: 0;
	box-shadow: inset 0 -1px 0 rgba(var(--very-dark), 0.24);
	font-family: 'Mulish';
	margin-bottom: 5px;
	margin-top: 3px;
}

.menu-button:hover{
	background: rgba(var(--text-hover), 0.2);
}

#id-name{
	font-family: 'NightmareMaker';
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: rgba(var(--main-color), 0);
    font-size: 2em;
    z-index: -1;
	text-shadow: 0.1em 0.1em 0.2em rgba(var(--dark-color), 0);
	margin:0;
	right:1%;
	padding-top: 8px;
}

#in {
	display: contents;
	font-family: 'Mulish';
	display: inline-flex;
	width: 80%;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin-bottom: 1%;
}

#in1 {
	display: contents;
}

#in2 {
	display: none;
}

#inFiles{
	opacity: 0;
	position: absolute;
	z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#file-url{
	color: rgb(var(--url-color));
	font-family: 'Mulish'; 
}

#file-url:hover{
	text-decoration:underline rgb(var(--url-color));
}

.icon-button{
	padding-top: 0.4%;
	background: rgba(var(--very-dark), 0.33);
    min-height: 25px;
    border-radius: 3px;
    top: 26%;
    left: 6%;
    font-size: 0.9em;
    color: rgba(var(--text-hover), 0.87);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    border: 0;
    box-shadow: inset 0 -1px 0 rgba(var(--very-dark), 0.3);
	font-family: 'Mulish';
}

.icon-button:hover{
	background: rgba(var(--main-color), 0.72);
	color: rgb(var(--text-hover));
}

.close-icon-button{
	padding-top: 0.4%;
	background: rgba(var(--very-dark), 0.33);
    min-height: 25px;
    border-radius: 3px;
    top: 26%;
    left: 6%;
    font-size: 0.9em;
    color: hsla(var(--text-hover), 0.87);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    border: 0;
    box-shadow: inset 0 -1px 0 rgba(var(--very-dark), 0.3);
	font-family: 'Mulish';
}

.close-icon-button .icon{
	pointer-events: none;
}

.close-icon-button:hover{
	background: var(--close-color);
	color: rgb(var(--text-hover));
}

#messages-content
{
    position: relative;
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Mulish';
	overflow: hidden;
}

#messages
{
	display: flex;
    flex-direction: column-reverse;
	font-family: 'Mulish'; 
    overflow-y: auto;
	height: 100%;
}

#messages-container
{
	max-height: 100%;
    min-height: 30px;
	font-family: 'Mulish'; 
    overflow: auto;
	padding: 1%;
}

#messages-container::-webkit-scrollbar {
  	width: 0;
}

#inText {
	width: 96%;
    min-height: 17px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: rgba(var(--dark-color), 0.55) 0.1em 0.1em 0.2em;
    background: rgb(var(--main-color));
    padding: 1px;
    color: rgb(var(--text));
	background-color: rgba(var(--main-color), 0.72);
	font-family: 'Mulish';
	max-height: 80px;
}

#text{
	border-bottom: 2px solid rgb(var(--text));
}

#inText:after {
	animation: blink 1s linear infinite alternate;
}

.message {
	margin: 5px;
    min-height: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: flex-end;
    border: 2px solid rgb(var(--text));
    background-color: rgba(var(--main-color), 0.98);
    position: relative;
    overflow: hidden;
    padding: 5px;
	color: rgb(var(--text));
}

.message-img-container {
	max-height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.message-img {
	max-height: 100%;
    max-width: 100%;
}

.message-text {
	width:100%;
	text-align:left;
	word-break: break-word;
	font-family: 'Mulish'; 
}

.message-text p {
	margin: 0;
}

.message-bottom {
    font-size: 0.5em;
    width: 100%;
    display: flex;
    font-family: 'Mulish';
    justify-content: space-between;
}

#theerror{
	display: flex;
    flex-direction: column;
    align-items: center;
	background: rgb(var(--menu-color));
    width: 70%;
    color: rgb(var(--very-dark));
	border-radius: 10px;
	padding: 5px;
}

#labelUseForRead{
	color: rgb(var(--text));
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}